@use "settings/index" as s;

@use "base/reset";
@use "base/base";


html {
  background-color: var(--color-bg-light);
  font-family: sans-serif;
}

body {
  margin: 0 auto; 
  width: 100%;
  max-width: var(--layout-max-width);
  padding: var(--layout-padding-y) var(--layout-padding-x);
  line-height: 1.5;
}