@use "settings/index" as s;

@use "base/reset";
@use "base/base";

html {
  background-color: var(--color-bg-light);
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: var(--layout-max-width);
  line-height: 1.5;
}

.logo {
  position: fixed;
}

.logo__link {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--nav-dynamic-size, var(--font-size-logo));
  line-height: 1;
  color: var(--color-bg-dark);
  text-decoration: none;
}

.logo.logo--placeholder {
  visibility: visible;
  position: sticky;
}
